NEXT_PUBLIC_SUPABASE_URL=https://wrczhirdtvigzapifaym.supabase.co
 
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndyY3poaXJkdHZpZ3phcGlmYXltIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDUxMjQzMywiZXhwIjoyMTA2MDg4NDMzfQ.SuBcyqThsd7JVS1NNzTqKWv4BHCqguzrxJ69luBmwVY

#NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_7R3rfDok_tLmE2GCXvURbA_LfwuOpj5

ADMIN_USERNAME=admin.cgsolutions@gmail.com
ADMIN_PASSWORD=cgsolutions
ADMIN_SESSION_SECRET=910bdb9ee6ce5d5c6dd9fb060309cc415820b6f797a83ac0d2426a452ade730b